
 <h4>Employee Details{{ title }}</h4>
 <hr>
 <div class="row">
   <div class="col-2">
    <select class="form-select">
      <option selected>Department</option>
      <option value="1">Computer</option>
      <option value="2">Physics</option>
      <option value="3">Chemistry</option>
    </select>
   </div>
   <div class="col-4 input-group-sm">
    <input type="type" class="form-control" id="name" placeholder="Name / Email">
   </div>
   <div class="col-1 ">
    <button type="button" class="btn btn-primary btn-sm">Search</button>
   </div>
   <div class="col-3">
    <button type="button" class="btn btn-primary btn-sm"> Reset and Reload Data</button>
   </div>
   <div class="col-1  align-self-end ml-auto">
    <select class="form-select">
      <option selected>Sort By</option>
      <option value="1">Name</option>
      <option value="1">Department</option>
    </select>
   </div>
 </div>
 <hr>
 <div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Emp Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email Address</th>
        <th scope="col">Departments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
 </div>