
 <h4>Employee Details ( {{ allempDetails.length }} )</h4>
 <hr>
 <div class="row">
   <div class="col-2">
    <select name="my-select" [(ngModel)]="selectedDep" (change)="selectedDepData()">
        <option [value]="item.value" *ngFor="let item of depData">
            {{item.name}}
        </option>
    </select>
   </div>
   <div class="col-3 input-group-sm">
    <input type="type" class="form-control" id="name" [(ngModel)]="searchData" placeholder="Name / Email">
   </div>
   <div class="col-1 ">
    <button type="button" class="btn btn-primary btn-sm" (click)="getData()">Search</button>
   </div>
   <div class="col-3">
    <button type="button" class="btn btn-primary btn-sm" (click)="resetData()"> Reset and Reload Data</button>
   </div>
   <div class="col-1  align-self-end ml-auto">
    <select name="sort-select" [(ngModel)]="selectedSort" (change)="SortData()">
      <option [value]="item.value" *ngFor="let item of sortData">
          {{item.name}}
      </option>
  </select>
   </div>
 </div>
 <hr>
 <div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Emp Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email Address</th>
        <th scope="col">Departments</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empDetail of empDetails">
        <td>{{empDetail.name}}</td>
        <td>{{empDetail.age}}</td>
        <td>{{empDetail.email}}</td>
        <td ngbTooltip={{empDetail.departments}}>{{empDetail.departments.length}}</td>
      </tr>
    </tbody>
  </table>
 </div>